/*
  
*/

/* Set the font and font size */
@font-face {
  font-family: TwitterChirp;
  src: url(/styles/PICOBLA_.TTF);
  font-size: 20px;
}

/* Set the color scheme to match Twitter */
body {
  font-family: TwitterChirp;
  background-color: #1da1f2;
  color: #fff;
}

/* Set the font for the tweets */
.tweet-text {
  font-size: 20px;
  line-height: 1.5;60
  color: #fff;
}

/* Style the image */
img {
  border: 2px solid #fff;
}
